$light-orange: #d49f00;
$blue: #4056a1;

//Mixins for screen size and alignment
@mixin largeScreen {
  margin-left: 5rem;
  margin-top: 100px;
  width: 30%;
}

@mixin headerSize {
  height: 400px;
  width: 100vw;
}

@mixin vertical-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//css for header element - contains the person photo, name, and connect info
header.nav-header {
  @include vertical-align;
  @include headerSize;
  text-align: center;
  background-color: $light-orange;
  background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
  h2 {
    color: #ffffff;
    span {
      font-weight: normal;
    }
  }
  div:nth-child(2) {
    display: none;
  }
}

//css for particles canvas created by particlesJS
#tsparticles {
  position: absolute;
  height: 540px;
  width: 100vw;
}

@media screen and (max-width: 1084px) {
  header.nav-header {
    height: 540px;
    img {
      margin-top: 120px;
    }
  }
}
@media screen and(min-width: 1084px) {
  #tsparticles {
    @include largeScreen;
    height: 390px;
    z-index: 9999;
  }
  header.nav-header {
    position: fixed;
    @include largeScreen;
    padding-top: 2rem;

    div:nth-child(2) {
      background-color: $blue;
      display: flex;
      width: 100%;
      opacity: 0.9;
      color: rgba(255, 255, 255, 0.842);
      justify-content: flex-end;
      align-items: center;

      a {
        color: rgba(255, 255, 255, 0.842);
      }
      i {
        margin-right: 1rem;
      }
      p {
        margin-left: 1rem;
      }
      i:hover {
        color: rgba(228, 173, 85, 0.548);
      }
    }
  }
}

/* SHADOW/GLOW TRANSITIONS */
/* Glow */
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
