$light-orange: #ffbe00;
@mixin largeScreen {
  margin-left: 5rem;
  margin-top: 100px;
  width: 30%;
}

@mixin headerSize {
  height: 400px !important;
  width: 100vw;
}

@mixin vertical-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header.nav-header {
  @include vertical-align;
  @include headerSize;
  background-color: $light-orange;
  background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
}

header.nav-header {
  h2 {
    color: #ffffff;
  }
  h2 span {
    font-weight: normal;
  }
}

#tsparticles {
  position: absolute;
  @include headerSize;
}
@media screen and (min-width: 1024px) {
  header.nav-header {
    @include largeScreen;
  }
  #tsparticles {
    @include largeScreen;
  }
  header.nav-header div,
  header.nav-header {
    padding-top: 2rem;
  }
}
