$blue: #4056a1;
$light-orange: #ffbe00;

$large-font: "Bungee", cursive;
$small-font: "Source Sans Pro", sans-serif;

@mixin horizontal-align($align: stretch) {
  display: flex;
  justify-content: space-between;
  align-items: $align;
}
@mixin vertical-align($align: stretch) {
  display: flex;
  flex-direction: column;
  align-items: $align;
}
@mixin font($font-family, $font-size) {
  font-family: $font-family;
  font-size: $font-size;
}

nav {
  @include horizontal-align($align: center);
  height: 120px;
  width: 100vw;
  background-color: $blue;
  color: #ffffff;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

nav {
  div {
    @include vertical-align($align: center);
  }
  span {
    @include font($large-font, 32px);
  }
  p {
    margin: 5px;
  }
  p span {
    font-weight: bold;
    @include font($small-font, 24px);
  }
  button {
    background-color: $blue;
    border: none;
    color: white;
  }
  i {
    color: red;
  }
  i:hover {
    animation-name: arrowMovement;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
  }
}

@keyframes arrowMovement {
  0% {
    transform: translate(0px, -3px);
  }
  50% {
    transform: translate(0px, 3px);
  }
  75% {
    transform: translate(0px, -3px);
  }
  100% {
    transform: translate(0px, 3px);
  }
}
