$blue: #4056a1;
$darkGrey: #545149;
$large-font: "Bungee", cursive;
$small-font: "Source Sans Pro", sans-serif;

@mixin font($font-family, $font-size) {
  font-family: $font-family;
  font-size: $font-size;
}

@mixin vertical-align($align: stretch) {
  display: flex;
  flex-direction: column;
  align-items: $align;
}

section.new-tweet {
  @include vertical-align;
  color: $darkGrey;
  //Form section css
  form {
    @include vertical-align;
    position: relative;
  }
  textarea {
    border: none;
    border-bottom: 4px solid $darkGrey;
    background-color: inherit;
    outline: none;
    resize: none;
    font-size: 1.1rem;
    font-family: $small-font;
    font-weight: 600;
    padding-bottom: 1rem;
    color: transparent;
    text-shadow: 0px 0px 0px black;
    margin-top: 1em;
  }
  textarea:active {
    outline: none;
    text-decoration: none;
  }

  label {
    font-weight: bold;
    position: relative;
    color: gray;
  }
  div {
    font-family: $large-font;
    margin-top: 1rem;
  }
  div {
    button {
      color: #ffffff;
      background-color: $blue;
    }
    output {
      float: right;
    }
  }
  .error {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    color: red;
    text-shadow: 0px 0px 0px red;
    font-weight: bold;
    text-align: center;
  }
  .addFont {
    color: red;
    text-shadow: 0px 0px 0px black;
  }
}
