nav {
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav span {
  font-family: "Bungee", cursive;
  font-size: 32px;
}
nav p {
  margin: 5px;
}

nav p span {
  font-weight: bold;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}

nav i {
  color: red;
}
