nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav span {
  font-family: "Bungee", cursive;
  font-size: 32px;
}
nav p {
  margin: 5px;
}
nav p span {
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
}
nav button {
  background-color: #4056a1;
  border: none;
  color: white;
}
nav i {
  color: red;
}
nav i {
  animation-name: arrowMovement;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes arrowMovement {
  0%, 100% {
    top: -5px;
  }
  50% {
    top: 5px;
  }
}
@media screen and (max-width: 1084px) {
  nav,
button {
    background-color: transparent;
  }
  nav button,
button button {
    background-color: transparent;
  }
}
