nav {
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav span {
  font-family: "Bungee", cursive;
  font-size: 32px;
}
nav p {
  margin: 5px;
}
nav p span {
  font-weight: bold;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}
nav button {
  background-color: #4056a1;
  border: none;
  color: white;
}
nav i {
  color: red;
}
nav i:hover {
  animation-name: arrowMovement;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: relative;
}

@keyframes arrowMovement {
  0% {
    transform: translate(0px, -3px);
  }
  50% {
    transform: translate(0px, 3px);
  }
  75% {
    transform: translate(0px, -3px);
  }
  100% {
    transform: translate(0px, 3px);
  }
}
